################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/project/Caro/Caro/x64/Debug/Caro.tlog/Caro.lastbuildstate
/project/Caro/Caro/x64/Debug/Caro.tlog/CL.command.1.tlog
/project/Caro/Caro/x64/Debug/Caro.tlog/Cl.items.tlog
/project/Caro/Caro/x64/Debug/Caro.tlog/CL.read.1.tlog
/project/Caro/Caro/x64/Debug/Caro.tlog/CL.write.1.tlog
/project/Caro/Caro/x64/Debug/Caro.tlog/link.command.1.tlog
/project/Caro/Caro/x64/Debug/Caro.tlog/link.read.1.tlog
/project/Caro/Caro/x64/Debug/Caro.tlog/link.secondary.1.tlog
/project/Caro/Caro/x64/Debug/Caro.tlog/link.write.1.tlog
/project/Caro/.vs/Caro/CopilotIndices/17.14.1368.60722/CodeChunks.db
/project/Caro/.vs/Caro/CopilotIndices/17.14.1368.60722/CodeChunks.db-shm
/project/Caro/.vs/Caro/CopilotIndices/17.14.1368.60722/CodeChunks.db-wal
/project/Caro/.vs/Caro/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
/project/Caro/.vs/Caro/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-shm
/project/Caro/.vs/Caro/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-wal
/project/Caro/.vs/Caro/FileContentIndex/587432af-926e-4545-aa54-dc75f73a0326.vsidx
/project/Caro/.vs/Caro/v17/ipch/AutoPCH/7eaea22308a771a6/BOARDGAME.ipch
/project/Caro/.vs/Caro/v17/Browse.VC.db-shm
/project/Caro/.vs/Caro/v17/.suo
/project/Caro/.vs/Caro/v17/Browse.VC.db-wal
/project/Caro/.vs/Caro/v17/Browse.VC.opendb
/project/Caro/.vs/Caro/v17/DocumentLayout.backup.json
/project/Caro/.vs/Caro/v17/DocumentLayout.json
/project/Caro/Caro/x64/Debug/boardgame.obj
/project/Caro/Caro/x64/Debug/button.obj
/project/Caro/Caro/x64/Debug/Caro.exe.recipe
/project/Caro/Caro/x64/Debug/Caro.ilk
/project/Caro/Caro/x64/Debug/Caro.log
/project/Caro/Caro/x64/Debug/caro.obj
/project/Caro/Caro/x64/Debug/keyboard.obj
/project/Caro/Caro/x64/Debug/menu.obj
/project/Caro/Caro/x64/Debug/vc143.idb
/project/Caro/Caro/x64/Debug/vc143.pdb
/project/Caro/x64/Debug/Caro.exe
/project/Caro/x64/Debug/Caro.pdb
project/Caro/.vs/Caro/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
project/Caro/.vs/Caro/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
project/Caro/.vs/Caro/CopilotIndices/17.14.1347.20289/CodeChunks.db
project/Caro/.vs/Caro/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
project/Caro/.vs/Caro/FileContentIndex/017473d5-d59a-4e72-863b-7e046e6e8cf8.vsidx
project/Caro/.vs/Caro/FileContentIndex/0d71ae3e-eb06-4075-81dd-83b0cc04991c.vsidx
project/Caro/.vs/Caro/FileContentIndex/2a1d7c1e-62a9-463c-a4b6-1dd97b0dd44d.vsidx
project/Caro/.vs/Caro/FileContentIndex/5c064885-eb04-4eb3-8dda-0904751655ae.vsidx
project/Caro/.vs/Caro/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
project/Caro/.vs/Caro/CopilotIndices/17.14.1347.20289/CodeChunks.db
project/Caro/.vs/Caro/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
project/Caro/.vs/Caro/FileContentIndex/017473d5-d59a-4e72-863b-7e046e6e8cf8.vsidx
project/Caro/.vs/Caro/FileContentIndex/58c9d140-6dd2-4b24-8725-1289bff294e6.vsidx
project/Caro/.vs/Caro/FileContentIndex/7fe603b9-bbb8-439b-a860-82ef661098ff.vsidx
project/Caro/.vs/Caro/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
project/Caro/.vs/Caro/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
/project/Caro/.vs
/project/Caro/.vs
