################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/project/Caro/Caro/x64/Debug/Caro.tlog/Caro.lastbuildstate
/project/Caro/Caro/x64/Debug/Caro.tlog/CL.command.1.tlog
/project/Caro/Caro/x64/Debug/Caro.tlog/Cl.items.tlog
/project/Caro/Caro/x64/Debug/Caro.tlog/CL.read.1.tlog
/project/Caro/Caro/x64/Debug/Caro.tlog/CL.write.1.tlog
/project/Caro/Caro/x64/Debug/Caro.tlog/link.command.1.tlog
/project/Caro/Caro/x64/Debug/Caro.tlog/link.read.1.tlog
/project/Caro/Caro/x64/Debug/Caro.tlog/link.secondary.1.tlog
/project/Caro/Caro/x64/Debug/Caro.tlog/link.write.1.tlog
/project/Caro/.vs/Caro/CopilotIndices/17.14.1368.60722/CodeChunks.db
/project/Caro/.vs/Caro/CopilotIndices/17.14.1368.60722/CodeChunks.db-shm
/project/Caro/.vs/Caro/CopilotIndices/17.14.1368.60722/CodeChunks.db-wal
/project/Caro/.vs/Caro/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
/project/Caro/.vs/Caro/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-shm
/project/Caro/.vs/Caro/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-wal
/project/Caro/.vs/Caro/FileContentIndex/587432af-926e-4545-aa54-dc75f73a0326.vsidx
/project/Caro/.vs/Caro/v17/ipch/AutoPCH/7eaea22308a771a6/BOARDGAME.ipch
/project/Caro/.vs/Caro/v17/Browse.VC.db-shm
/project/Caro/.vs/Caro/v17/.suo
/project/Caro/.vs/Caro/v17/Browse.VC.db-wal
/project/Caro/.vs/Caro/v17/Browse.VC.opendb
/project/Caro/.vs/Caro/v17/DocumentLayout.backup.json
/project/Caro/.vs/Caro/v17/DocumentLayout.json
/project/Caro/Caro/x64/Debug/boardgame.obj
/project/Caro/Caro/x64/Debug/button.obj
/project/Caro/Caro/x64/Debug/Caro.exe.recipe
/project/Caro/Caro/x64/Debug/Caro.ilk
/project/Caro/Caro/x64/Debug/Caro.log
/project/Caro/Caro/x64/Debug/caro.obj
/project/Caro/Caro/x64/Debug/keyboard.obj
/project/Caro/Caro/x64/Debug/menu.obj
/project/Caro/Caro/x64/Debug/vc143.idb
/project/Caro/Caro/x64/Debug/vc143.pdb
/project/Caro/x64/Debug/Caro.exe
/project/Caro/x64/Debug/Caro.pdb
